<div class="app">
  <div class="seccion-foto-contenedor">
    <div class="capa-abajo">
      <div class="contenedor-img">
        <img src="https://cdn.pixabay.com/photo/2016/03/27/19/57/cold-1284028__340.jpg" alt="" class="img-izquierda-blur">
      </div>
      <div class="contenedor-img">
        <img src=" https://cdn.pixabay.com/photo/2016/10/15/05/23/girl-1741941__480.jpg" alt="" class="img-derecha-blur">
      </div>
    </div>


    <div class="capa-arriba">
      <div class="contenedor-img caja-menor-arriba">
        <img src="https://cdn.pixabay.com/photo/2016/03/27/19/57/cold-1284028__340.jpg" alt="" class="img-izquierda">
      </div>
      <div class="contenedor-img capa-menor-arriba">
        <img src=" https://cdn.pixabay.com/photo/2016/10/15/05/23/girl-1741941__480.jpg" alt="" class="img-derecha">
      </div>
    </div>
    <div class="logo">
      <img src="	https://cdn.pixabay.com/photo/2016/05/18/16/25/shopping-1400845_960_720.png">
    </div>


  </div>

  <div class="main">
    <div class="contenido-principal">
      <div class="seccion-nombre">
        <div class="nombre">
          OSHO
        </div>
      </div>

      <section class="redes-sociales">

        <a href="#">
          <i id="Facebook" class="fa-brands fa-facebook"></i>
        </a>
        <a href="#">
          <i id="Instagram" class="fa-brands fa-instagram"></i>
        </a>
        <a href="#">
          <i id="Pinterest" class="fa-brands fa-pinterest-p"></i>
        </a>
        <a href="#">
          <i id="TikTok" class="fa-brands fa-tiktok"></i>
        </a>
      </section>
      <section class="seccion-links">
        <a class="links" href="#">
          <i class="fa-brands fa-whatsapp"></i>
          <div class="texto-link">WhatsApp</div>
        </a>
        <a class="links" href="#">
          <i class="fa-solid fa-bag-shopping"></i>
          <div class="texto-link">Catalogo</div>
        </a>
        <a class="links" href="#">
          <i class="fa-solid fa-circle-info"></i>
          <div class="texto-link">Información</div>
        </a>
      </section>
    </div>
    <footer>
      OSHO
    </footer>


  </div>
</div>